/admin/   @rilldata/platform
/cli/     @rilldata/platform
/proto/   @rilldata/platform
/runtime/ @rilldata/platform

/web-admin/       @rilldata/applications
/web-common/      @rilldata/applications
/web-integration/ @rilldata/applications
/web-local/       @rilldata/applications
