.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
*.db
server/__pycache__/*
*.duckdb
*.duckdb.wal
src/server/duckdb
src/server/scratch/
server/venv/
tsc-tmp/
export/

# generated content
saved-state.json
last-query-output.json
staging-databases