.DS_Store
node_modules
/build
/dist
/.svelte-kit
/package
.env
.env.*
server/__pycache__/*
src/server/duckdb
src/server/scratch/
server/venv/
tsc-tmp/
export/
.vscode
/temp
/tmp

# data files
*.duckdb
*.duckdb.wal
*.db
*.wal
*.parquet
*.csv
*.tsv
/*_state.json
/state
/models

# temporary. check in generated data files
!/test/data/*.parquet
!/test/data/*.csv
!/test/data/*.tsv

# generated content
log
profile.log
saved-state.json
last-query-output.json
staging-databases
projects/
/rilldata

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties

# IntelliJ
.idea
*.ipr
*.iml
*.iws
