.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
*.db
server/__pycache__/*
*.duckdb
*.duckdb.wal
server/duckdb
server/scratch/
server/venv/
tsc-tmp/

# generated content
saved-state.json
last-query-output.json
staging-databases