.github/
.svelte-kit/
.vscode/
.idea/
build/
build-tools/
dist/
node_modules/
scripts/
state/
static/
temp/
test/data/

*.sql
*.csv
*.tsv
*.db
*.wal
*.parquet
.DS_Store

log
.gitignore
.prettierignore
Dockerfile
Duckdb-Dockerfile
