.github/
.svelte-kit/
.vscode/
.idea/
build/
build-tools/
cli/
dist/
node_modules/
runtime/
scripts/
admin/
state/
static/
temp/
proto/

.env
*.sql
*.csv
*.csv.gz
*.tsv
*.txt
*.db
*.wal
*.parquet
*.parquet.gz
.travis.yml
.DS_Store
buf.lock
go.mod
go.sum

log
*.log
.gitignore
.prettierignore
Dockerfile
Duckdb-Dockerfile
README.md
docs
*.json
*.cjs

# Java SQL lib
sql/

# a temporary fix until we refactor css classes
*.css
