.github/
.svelte-kit/
.vscode/
.idea/
build/
build-tools/
dist/
node_modules/
runtime/
scripts/
state/
static/
temp/

*.sql
*.csv
*.tsv
*.db
*.wal
*.parquet
.travis.yml
.DS_Store
buf.lock
go.mod
go.sum

log
*.log
.gitignore
.prettierignore
Dockerfile
Duckdb-Dockerfile
README.md
docs

# Java SQL lib
sql/

# FIXME: temporary
test/data/HistogramSummary.data.ts
