# This should be used for docs also
[[headers]]
  for = "/*"
  [headers.values]
    Content-Security-Policy = """\
      default-src 'self'; \
      script-src 'self' https: 'unsafe-inline' 'unsafe-eval' *.usepylon.com *.posthog.com *.pusher.com; \
      style-src https: 'unsafe-inline'; \
      img-src https: data: blob:; \
      frame-src data:; \
      frame-ancestors *; \
      object-src 'none'; \
      connect-src https: *.usepylon.com *.posthog.com wss://*.pusher.com;
      """
    Permissions-Policy = "geolocation=(),midi=(),sync-xhr=(self),microphone=(),camera=(),magnetometer=(),gyroscope=(),fullscreen=(self),payment=()"
    Referrer-Policy = "no-referrer"
    X-Content-Type-Options = "nosniff"
    Cross-Origin-Embedder-Policy = "credentialless"
    Cross-Origin-Opener-Policy = "unsafe-none"
    Cross-Origin-Resource-Policy = "cross-origin"
    X-Frame-Options = "allow-from *"
