# This should be used for docs also

# Default headers for main application (strict CSP)
[[headers]]
  for = "/*"
  [headers.values]
    Content-Security-Policy = """\
      default-src 'self'; \
      script-src 'self' 'unsafe-inline' 'unsafe-eval' https://*.usepylon.com https://*.pusher.com; \
      style-src 'self' 'unsafe-inline'; \
      img-src https: data: blob:; \
      frame-src 'self' https://www.youtube.com/ https://www.loom.com/ https://www.vimeo.com https://portal.withorb.com blob: data:; \
      frame-ancestors 'self'; \
      form-action 'self'; \
      object-src 'none'; \
      connect-src 'self' https://*.rilldata.com https://us.posthog.com https://*.usepylon.com https://docs.google.com https://storage.googleapis.com https://cdn.prod.website-files.com https://*.stripe.com wss://*.pusher.com; \
      font-src 'self' https://fonts.gstatic.com https://*.usepylon.com;
      """
    Permissions-Policy = "geolocation=(),midi=(),sync-xhr=(self),microphone=(),camera=(),magnetometer=(),gyroscope=(),fullscreen=(self),payment=()"
    Referrer-Policy = "no-referrer"
    X-Content-Type-Options = "nosniff"
    Cross-Origin-Embedder-Policy = "credentialless"
    Cross-Origin-Opener-Policy = "unsafe-none"
    Cross-Origin-Resource-Policy = "cross-origin"
    X-Frame-Options = "SAMEORIGIN"
    Strict-Transport-Security = "max-age=31536000; includeSubDomains; preload"

# Embed routes
[[headers]]
  for = "/-/embed/*"
  [headers.values]
    Content-Security-Policy = """\
      default-src 'self'; \
      script-src 'self' 'unsafe-inline' 'unsafe-eval' https://*.usepylon.com https://*.pusher.com; \
      style-src 'self' 'unsafe-inline'; \
      img-src https: data: blob:; \
      frame-src 'self' https://www.youtube.com/ https://www.loom.com/ https://www.vimeo.com https://portal.withorb.com blob: data:; \
      frame-ancestors https:; \
      form-action 'self'; \
      object-src 'none'; \
      connect-src 'self' https://*.rilldata.com https://us.posthog.com https://*.usepylon.com https://docs.google.com https://storage.googleapis.com https://cdn.prod.website-files.com https://*.stripe.com wss://*.pusher.com; \
      font-src 'self' https://fonts.gstatic.com https://*.usepylon.com;
      """
    Permissions-Policy = "geolocation=(),midi=(),sync-xhr=(self),microphone=(),camera=(),magnetometer=(),gyroscope=(),fullscreen=(self),payment=()"
    Referrer-Policy = "no-referrer"
    X-Content-Type-Options = "nosniff"
    Cross-Origin-Embedder-Policy = "credentialless"
    Cross-Origin-Opener-Policy = "unsafe-none"
    Cross-Origin-Resource-Policy = "cross-origin"
    X-Frame-Options = "ALLOWALL"
    Strict-Transport-Security = "max-age=31536000; includeSubDomains; preload"

# Public share routes
[[headers]]
  for = "/*/-/share/*"
  [headers.values]
    Content-Security-Policy = """\
      default-src 'self'; \
      script-src 'self' 'unsafe-inline' 'unsafe-eval' https://*.usepylon.com https://*.pusher.com; \
      style-src 'self' 'unsafe-inline'; \
      img-src https: data: blob:; \
      frame-src 'self' https://www.youtube.com/ https://www.loom.com/ https://www.vimeo.com https://portal.withorb.com blob: data:; \
      frame-ancestors https:; \
      form-action 'self'; \
      object-src 'none'; \
      connect-src 'self' https://*.rilldata.com https://us.posthog.com https://*.usepylon.com https://docs.google.com https://storage.googleapis.com https://cdn.prod.website-files.com https://*.stripe.com wss://*.pusher.com; \
      font-src 'self' https://fonts.gstatic.com https://*.usepylon.com;
      """
    Permissions-Policy = "geolocation=(),midi=(),sync-xhr=(self),microphone=(),camera=(),magnetometer=(),gyroscope=(),fullscreen=(self),payment=()"
    Referrer-Policy = "no-referrer"
    X-Content-Type-Options = "nosniff"
    Cross-Origin-Embedder-Policy = "credentialless"
    Cross-Origin-Opener-Policy = "unsafe-none"
    Cross-Origin-Resource-Policy = "cross-origin"
    X-Frame-Options = "ALLOWALL"
    Strict-Transport-Security = "max-age=31536000; includeSubDomains; preload"
