/* =========================
   Base Styles
   ========================= */
body {
  font-size: var(--default-font);
  line-height: var(--default-line-height);
  font-family: var(--ifm-font-family-base), -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

.hidden {
  display: none !important;
} 