
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .surface-bg {
    @apply bg-gray-100 dark:bg-gray-800;
  }

  .surface {
    @apply bg-white dark:bg-gray-800;
  }

  .surface-secondary {
    @apply bg-gray-100 dark:bg-gray-700;
  }

  .surface-impression {
    @apply bg-gray-100 dark:bg-gray-900;
  }

  .surface-focus {
    @apply bg-gray-200 dark:bg-gray-600;
  }

  .surface-faint {
    @apply bg-gray-50 dark:bg-transparent;
  }

  .ui-copy {
    @apply text-gray-700 dark:text-white font-light;
  }

  .ui-copy-muted {
    @apply text-gray-600 dark:text-gray-200;
  }

  .ui-copy-strong {
    @apply text-gray-900 dark:text-white font-medium;
  }

  .ui-copy-icon {
    @apply ui-copy-muted;
  }

  .ui-copy-number {
    font-feature-settings: "case" 0, "cpsp" 0, "dlig" 0, "frac" 0, "dnom" 0, "numr" 0, "salt" 0, "subs" 0, "sups" 0, "tnum", "zero", "ss01", "ss02" 0, "ss03" 0, "ss04" 0, "cv01" 0, "cv02" 0, "cv03" 0, "cv04" 0, "cv05" 0, "cv06" 0, "cv07" 0, "cv08" 0, "cv09" 0, "cv10" 0, "cv11" 0, "calt", "ccmp", "kern";
  }

  .mono {
    font-family: "MD IO";
  }

  .ui-copy-icon-inactive {
    @apply text-gray-500 dark:text-gray-500;
  }

  .ui-copy-inactive {
    @apply text-gray-500 dark:text-gray-400;
  }

  .ui-copy-disabled {
    @apply ui-copy-inactive italic;
  }

  /** a non-acccessible faint version of ui-copy-disabled used in dimension tables */
  .ui-copy-disabled-faint {
    @apply italic text-gray-400 dark:text-gray-400;
  }

  .ui-divider {
    @apply border-gray-300 dark:border-gray-600;
  }

  .ui-divider-faint {
    @apply border-gray-200 dark:border-gray-600;
  }

  .ui-divider-strong {
    @apply border-gray-400 dark:border-gray-500;
  }

  .ui-measure-bar-included {
    @apply bg-blue-100 dark:bg-blue-700;
  }

  .ui-measure-bar-included-selected {
    @apply bg-blue-200 dark:bg-blue-600;
  }

  .ui-measure-bar-excluded {
    @apply bg-gray-100 dark:bg-gray-700;
  }
}

@layer base {
  h1,
  h2,
  h3,
  h4 {
    @apply font-medium;
  }
}

th {
  @apply font-medium;
}

html {
  @apply ui-copy;
}

a, button {
  @apply ui-copy;
}

body {
  font-family: "Inter";
  font-size: 12px;

  /* Use this for a few keyboard characters in tooltips, etc. */
  --system: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  margin: 0;
  padding: 0;
  --header-height: 52px;
  --right-drawer-width: 400px;

  --left-sidebar-width: 400px;

  --hue: 217;
  --sat: 20%;
  --lgt: 95%;

  --info-bg: hsl(var(--hue), var(--sat), 80%);
  --info-text: hsl(var(--hue), var(--sat), 20%);

  --error-bg: hsl(1, 60%, 90%);
  --error-text: hsl(1, 60%, 30%);

  overscroll-behavior: none;
}

a {
  @apply text-blue-500;
}
.stack-list > * + * {
  margin-top: var(--gap, 1rem);
}

.stack + .stack {
  margin-top: var(--gap, 1rem);
}

.hljs-punctuation {
  color: #bbb;
}

.hljs-attr {
  font-weight: 500;
}

.hljs-string,
.hljs-number {
  color: hsl(217, 1%, 50%);
}

.gutter-indicator {
  width: 18px;
  display: grid;
  place-items: center;
  height: 18px;
}

.draggable:active {
  cursor: dragging;
}

.ͼ1 .cm-scroller {
  font-family: "MD IO";
  font-size: 13px;
}

.ͼ2 .cm-gutters {
  background-color: transparent;
  border-right: none;
}

.line-clamp-2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
