/* Variable fonts usage:
:root { font-family: "Inter", sans-serif; }
@supports (font-variation-settings: normal) {
  :root { font-family: "InterVar", sans-serif; font-optical-sizing: auto; }
} */
@font-face {
  font-family: "InterVar";
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  src: url("/fonts/inter/Inter.var.woff2?v=3.19") format("woff2") tech("variations"),
       url("/fonts/inter/Inter.var.woff2?v=3.19") format("woff2-variations");
}
@font-face {
  font-family: "InterVar";
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
  src: url("/fonts/inter/Inter-Italic.var.woff2?v=3.19") format("woff2") tech("variations"),
       url("/fonts/inter/Inter-Italic.var.woff2?v=3.19") format("woff2-variations");
}
/* static fonts "Inter" */
@font-face { font-family: "Inter"; font-style: normal; font-weight: 100; font-display: swap; src: url("/fonts/inter/Inter-Thin.woff2?v=3.19") format("woff2"); }
@font-face { font-family: "Inter"; font-style: italic; font-weight: 100; font-display: swap; src: url("/fonts/inter/Inter-ThinItalic.woff2?v=3.19") format("woff2"); }
@font-face { font-family: "Inter"; font-style: normal; font-weight: 200; font-display: swap; src: url("/fonts/inter/Inter-ExtraLight.woff2?v=3.19") format("woff2"); }
@font-face { font-family: "Inter"; font-style: italic; font-weight: 200; font-display: swap; src: url("/fonts/inter/Inter-ExtraLightItalic.woff2?v=3.19") format("woff2"); }
@font-face { font-family: "Inter"; font-style: normal; font-weight: 300; font-display: swap; src: url("/fonts/inter/Inter-Light.woff2?v=3.19") format("woff2"); }
@font-face { font-family: "Inter"; font-style: italic; font-weight: 300; font-display: swap; src: url("/fonts/inter/Inter-LightItalic.woff2?v=3.19") format("woff2"); }
@font-face { font-family: "Inter"; font-style: normal; font-weight: 400; font-display: swap; src: url("/fonts/inter/Inter-Regular.woff2?v=3.19") format("woff2"); }
@font-face { font-family: "Inter"; font-style: italic; font-weight: 400; font-display: swap; src: url("/fonts/inter/Inter-Italic.woff2?v=3.19") format("woff2"); }
@font-face { font-family: "Inter"; font-style: normal; font-weight: 500; font-display: swap; src: url("/fonts/inter/Inter-Medium.woff2?v=3.19") format("woff2"); }
@font-face { font-family: "Inter"; font-style: italic; font-weight: 500; font-display: swap; src: url("/fonts/inter/Inter-MediumItalic.woff2?v=3.19") format("woff2"); }
@font-face { font-family: "Inter"; font-style: normal; font-weight: 600; font-display: swap; src: url("/fonts/inter/Inter-SemiBold.woff2?v=3.19") format("woff2"); }
@font-face { font-family: "Inter"; font-style: italic; font-weight: 600; font-display: swap; src: url("/fonts/inter/Inter-SemiBoldItalic.woff2?v=3.19") format("woff2"); }
@font-face { font-family: "Inter"; font-style: normal; font-weight: 700; font-display: swap; src: url("/fonts/inter/Inter-Bold.woff2?v=3.19") format("woff2"); }
@font-face { font-family: "Inter"; font-style: italic; font-weight: 700; font-display: swap; src: url("/fonts/inter/Inter-BoldItalic.woff2?v=3.19") format("woff2"); }
@font-face { font-family: "Inter"; font-style: normal; font-weight: 800; font-display: swap; src: url("/fonts/inter/Inter-ExtraBold.woff2?v=3.19") format("woff2"); }
@font-face { font-family: "Inter"; font-style: italic; font-weight: 800; font-display: swap; src: url("/fonts/inter/Inter-ExtraBoldItalic.woff2?v=3.19") format("woff2"); }
@font-face { font-family: "Inter"; font-style: normal; font-weight: 900; font-display: swap; src: url("/fonts/inter/Inter-Black.woff2?v=3.19") format("woff2"); }
@font-face { font-family: "Inter"; font-style: italic; font-weight: 900; font-display: swap; src: url("/fonts/inter/Inter-BlackItalic.woff2?v=3.19") format("woff2"); }
/* static fonts "InterDisplay" */
@font-face { font-family: "InterDisplay"; font-style: normal; font-weight: 100; font-display: swap; src: url("/fonts/inter/Inter-DisplayThin.woff2?v=3.19") format("woff2"); }
@font-face { font-family: "InterDisplay"; font-style: italic; font-weight: 100; font-display: swap; src: url("/fonts/inter/Inter-DisplayThinItalic.woff2?v=3.19") format("woff2"); }
@font-face { font-family: "InterDisplay"; font-style: normal; font-weight: 200; font-display: swap; src: url("/fonts/inter/Inter-DisplayExtraLight.woff2?v=3.19") format("woff2"); }
@font-face { font-family: "InterDisplay"; font-style: italic; font-weight: 200; font-display: swap; src: url("/fonts/inter/Inter-DisplayExtraLightItalic.woff2?v=3.19") format("woff2"); }
@font-face { font-family: "InterDisplay"; font-style: normal; font-weight: 300; font-display: swap; src: url("/fonts/inter/Inter-DisplayLight.woff2?v=3.19") format("woff2"); }
@font-face { font-family: "InterDisplay"; font-style: italic; font-weight: 300; font-display: swap; src: url("/fonts/inter/Inter-DisplayLightItalic.woff2?v=3.19") format("woff2"); }
@font-face { font-family: "InterDisplay"; font-style: normal; font-weight: 400; font-display: swap; src: url("/fonts/inter/Inter-DisplayRegular.woff2?v=3.19") format("woff2"); }
@font-face { font-family: "InterDisplay"; font-style: italic; font-weight: 400; font-display: swap; src: url("/fonts/inter/Inter-DisplayItalic.woff2?v=3.19") format("woff2"); }
@font-face { font-family: "InterDisplay"; font-style: normal; font-weight: 500; font-display: swap; src: url("/fonts/inter/Inter-DisplayMedium.woff2?v=3.19") format("woff2"); }
@font-face { font-family: "InterDisplay"; font-style: italic; font-weight: 500; font-display: swap; src: url("/fonts/inter/Inter-DisplayMediumItalic.woff2?v=3.19") format("woff2"); }
@font-face { font-family: "InterDisplay"; font-style: normal; font-weight: 600; font-display: swap; src: url("/fonts/inter/Inter-DisplaySemiBold.woff2?v=3.19") format("woff2"); }
@font-face { font-family: "InterDisplay"; font-style: italic; font-weight: 600; font-display: swap; src: url("/fonts/inter/Inter-DisplaySemiBoldItalic.woff2?v=3.19") format("woff2"); }
@font-face { font-family: "InterDisplay"; font-style: normal; font-weight: 700; font-display: swap; src: url("/fonts/inter/Inter-DisplayBold.woff2?v=3.19") format("woff2"); }
@font-face { font-family: "InterDisplay"; font-style: italic; font-weight: 700; font-display: swap; src: url("/fonts/inter/Inter-DisplayBoldItalic.woff2?v=3.19") format("woff2"); }
@font-face { font-family: "InterDisplay"; font-style: normal; font-weight: 800; font-display: swap; src: url("/fonts/inter/Inter-DisplayExtraBold.woff2?v=3.19") format("woff2"); }
@font-face { font-family: "InterDisplay"; font-style: italic; font-weight: 800; font-display: swap; src: url("/fonts/inter/Inter-DisplayExtraBoldItalic.woff2?v=3.19") format("woff2"); }
@font-face { font-family: "InterDisplay"; font-style: normal; font-weight: 900; font-display: swap; src: url("/fonts/inter/Inter-DisplayBlack.woff2?v=3.19") format("woff2"); }
@font-face { font-family: "InterDisplay"; font-style: italic; font-weight: 900; font-display: swap; src: url("/fonts/inter/Inter-DisplayBlackItalic.woff2?v=3.19") format("woff2"); }



@font-face {
  font-family: "MD IO";
  src: url("/fonts/md-io/MDIO0.4-Regular.woff2") format("woff2"),
    url("/fonts/md-io/MDIO0.4-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "MD IO";
  src: url("/fonts/md-io/MDIO0.4-Italic.woff2") format("woff2"),
    url("/fonts/md-io/MDIO0.4-Italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "MD IO";
  src: url("/fonts/md-io/MDIO0.4-Medium.woff2") format("woff2"),
    url("/fonts/md-io/MDIO0.4-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "MD IO";
  src: url("/fonts/md-io/MDIO0.4-Semibold.woff2") format("woff2"),
    url("/fonts/md-io/MDIO0.4-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "MD IO";
  src: url("/fonts/md-io/MDIO0.4-Bold.woff2") format("woff2"),
    url("/fonts/md-io/MDIO0.4-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "MD IO";
  src: url("/fonts/md-io/MDIO0.4-Black.woff2") format("woff2"),
    url("/fonts/md-io/MDIO0.4-Black.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "MD IO";
  src: url("/fonts/md-io/MDIO0.4-Ultra.woff2") format("woff2"),
    url("/fonts/md-io/MDIO0.4-Ultra.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
