@import "./colors.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .ui-copy {
    @apply text-gray-900;
  }

  .ui-copy-muted {
    @apply text-gray-800 dark:text-gray-800;
  }

  .ui-copy-strong {
    @apply text-gray-900 font-semibold;
  }

  .ui-copy-icon {
    @apply ui-copy-muted;
  }

  .ui-copy-number {
    font-feature-settings:
      "case" 0,
      "cpsp" 0,
      "dlig" 0,
      "frac" 0,
      "dnom" 0,
      "numr" 0,
      "salt" 0,
      "subs" 0,
      "sups" 0,
      "tnum",
      "zero" 0,
      "ss01",
      "ss02" 0,
      "ss03" 0,
      "ss04" 0,
      "cv01" 0,
      "cv02" 0,
      "cv03" 0,
      "cv04" 0,
      "cv05" 0,
      "cv06" 0,
      "cv07" 0,
      "cv08" 0,
      "cv09" 0,
      "cv10" 0,
      "cv11" 0,
      "calt",
      "ccmp",
      "kern";
  }

  .ui-copy-inactive {
    @apply text-gray-500;
  }

  .ui-copy-disabled {
    @apply ui-copy-inactive;
  }

  /** a non-acccessible faint version of ui-copy-disabled used in dimension tables */
  .ui-copy-disabled-faint {
    @apply text-gray-400;
  }

  .ui-copy-code {
    font-family: var(--monospace);
    font-size: 11px;
    @apply text-gray-600;
  }

  .ui-measure-bar-included {
    @apply bg-theme-100;
  }

  .ui-measure-bar-included-selected {
    @apply bg-theme-200;
  }

  .ui-measure-bar-excluded {
    @apply bg-gray-100;
  }

  .ui-editor-text-error {
    color: var(--ui-editor-error-foreground);
  }

  .ui-editor-bg-error {
    @apply bg-red-50;
  }
}

@layer base {
  :root {
    color-scheme: light;
    color: var(--color-gray-900);

    --ui-editor-error-foreground: hsl(0, 75%, 45%);
    --surface: oklch(100% 0 0);

    /* SHADCN VARIABLES */
    --background: var(--color-gray-50);
    --foreground: var(--color-gray-900);
    --card: var(--surface);
    --card-foreground: var(--color-gray-900);
    --popover: var(--surface);
    --popover-foreground: var(--color-gray-900);
    --primary: var(--color-primary-950);
    --primary-foreground: var(--color-primary-50);
    --secondary: var(--color-secondary-100);
    --secondary-foreground: var(--color-secondary-950);
    --muted: var(--color-gray-100);
    --muted-foreground: var(--color-gray-500);
    --accent: var(--color-gray-100);
    --accent-foreground: var(--color-gray-900);
    --destructive: var(--color-red-600);
    --destructive-foreground: var(--color-gray-50);
    --border: var(--color-gray-200);
    --input: var(--color-gray-200);
    --ring: var(--color-gray-950);
    --radius: 0.5rem;

    --color-theme-50: var(
      --color-theme-light-50,
      var(--color-primary-light-50)
    );
    --color-theme-100: var(
      --color-theme-light-100,
      var(--color-primary-light-100)
    );
    --color-theme-200: var(
      --color-theme-light-200,
      var(--color-primary-light-200)
    );
    --color-theme-300: var(
      --color-theme-light-300,
      var(--color-primary-light-300)
    );
    --color-theme-400: var(
      --color-theme-light-400,
      var(--color-primary-light-400)
    );
    --color-theme-500: var(
      --color-theme-light-500,
      var(--color-primary-light-500)
    );
    --color-theme-600: var(
      --color-theme-light-600,
      var(--color-primary-light-600)
    );
    --color-theme-700: var(
      --color-theme-light-700,
      var(--color-primary-light-700)
    );
    --color-theme-800: var(
      --color-theme-light-800,
      var(--color-primary-light-800)
    );
    --color-theme-900: var(
      --color-theme-light-900,
      var(--color-primary-light-900)
    );
    --color-theme-950: var(
      --color-theme-light-950,
      var(--color-primary-light-950)
    );

    --color-theme-secondary-50: var(
      --color-theme-secondary-light-50,
      var(--color-secondary-light-50)
    );
    --color-theme-secondary-100: var(
      --color-theme-secondary-light-100,
      var(--color-secondary-light-100)
    );
    --color-theme-secondary-200: var(
      --color-theme-secondary-light-200,
      var(--color-secondary-light-200)
    );
    --color-theme-secondary-300: var(
      --color-theme-secondary-light-300,
      var(--color-secondary-light-300)
    );
    --color-theme-secondary-400: var(
      --color-theme-secondary-light-400,
      var(--color-secondary-light-400)
    );
    --color-theme-secondary-500: var(
      --color-theme-secondary-light-500,
      var(--color-secondary-light-500)
    );
    --color-theme-secondary-600: var(
      --color-theme-secondary-light-600,
      var(--color-secondary-light-600)
    );
    --color-theme-secondary-700: var(
      --color-theme-secondary-light-700,
      var(--color-secondary-light-700)
    );
    --color-theme-secondary-800: var(
      --color-theme-secondary-light-800,
      var(--color-secondary-light-800)
    );
    --color-theme-secondary-900: var(
      --color-theme-secondary-light-900,
      var(--color-secondary-light-900)
    );
    --color-theme-secondary-950: var(
      --color-theme-secondary-light-950,
      var(--color-secondary-light-950)
    );

    --editor-selection: #b0daffb3;
    --line-highlight: #ededed5b;
  }

  :root.dark {
    color-scheme: dark;
    color: var(--color-gray-900);

    --surface: var(--color-gray-50);

    /* SHADCN VARIABLES */
    --background: var(--color-gray-100);
    /* --foreground: var(--color-gray-900); */
    /* --card: var(--surface); */
    /* --card-foreground: var(--color-gray-900); */
    --popover: var(--color-gray-100);
    /* --popover-foreground: var(--color-gray-900); */
    /* --primary: var(--color-primary-950); */
    /* --primary-foreground: var(--color-primary-50); */
    /* --secondary: var(--color-secondary-100); */
    /* --secondary-foreground: var(--color-secondary-950); */
    --muted: var(--color-gray-200);
    /* --muted-foreground: var(--color-gray-500); */
    --accent: var(--color-gray-300);
    /* --accent-foreground: var(--color-gray-900); */
    /* --destructive: var(--color-red-600); */
    /* --destructive-foreground: var(--color-gray-50); */
    --border: var(--color-gray-200);
    /* --input: var(--color-gray-200); */
    /* --ring: var(--color-gray-950); */

    --color-theme-50: var(--color-theme-dark-50, var(--color-primary-dark-50));
    --color-theme-100: var(
      --color-theme-dark-100,
      var(--color-primary-dark-100)
    );
    --color-theme-200: var(
      --color-theme-dark-200,
      var(--color-primary-dark-200)
    );
    --color-theme-300: var(
      --color-theme-dark-300,
      var(--color-primary-dark-300)
    );
    --color-theme-400: var(
      --color-theme-dark-400,
      var(--color-primary-dark-400)
    );
    --color-theme-500: var(
      --color-theme-dark-500,
      var(--color-primary-dark-500)
    );
    --color-theme-600: var(
      --color-theme-dark-600,
      var(--color-primary-dark-600)
    );
    --color-theme-700: var(
      --color-theme-dark-700,
      var(--color-primary-dark-700)
    );
    --color-theme-800: var(
      --color-theme-dark-800,
      var(--color-primary-dark-800)
    );
    --color-theme-900: var(
      --color-theme-dark-900,
      var(--color-primary-dark-900)
    );
    --color-theme-950: var(
      --color-theme-dark-950,
      var(--color-primary-dark-950)
    );

    --color-theme-secondary-50: var(
      --color-theme-secondary-dark-50,
      var(--color-secondary-dark-50)
    );
    --color-theme-secondary-100: var(
      --color-theme-secondary-dark-100,
      var(--color-secondary-dark-100)
    );
    --color-theme-secondary-200: var(
      --color-theme-secondary-dark-200,
      var(--color-secondary-dark-200)
    );
    --color-theme-secondary-300: var(
      --color-theme-secondary-dark-300,
      var(--color-secondary-dark-300)
    );
    --color-theme-secondary-400: var(
      --color-theme-secondary-dark-400,
      var(--color-secondary-dark-400)
    );
    --color-theme-secondary-500: var(
      --color-theme-secondary-dark-500,
      var(--color-secondary-dark-500)
    );
    --color-theme-secondary-600: var(
      --color-theme-secondary-dark-600,
      var(--color-secondary-dark-600)
    );
    --color-theme-secondary-700: var(
      --color-theme-secondary-dark-700,
      var(--color-secondary-dark-700)
    );
    --color-theme-secondary-800: var(
      --color-theme-secondary-dark-800,
      var(--color-secondary-dark-800)
    );
    --color-theme-secondary-900: var(
      --color-theme-secondary-dark-900,
      var(--color-secondary-dark-900)
    );
    --color-theme-secondary-950: var(
      --color-theme-secondary-dark-950,
      var(--color-secondary-dark-950)
    );

    --editor-selection: #304e75;
    --line-highlight: #26262659;
  }

  h1,
  h2,
  h3,
  h4 {
    @apply font-bold;
  }
}

html {
  @apply ui-copy;
}

a,
button {
  @apply ui-copy;
}

body {
  @apply bg-background;
  font-family: "Inter";
  font-size: 12px;

  --system:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";

  --monospace: "Source Code Variable";
  margin: 0;

  padding: 0;

  --right-drawer-width: 400px;

  --left-sidebar-width: 400px;

  --hue: 217;
  --sat: 20%;
  --lgt: 95%;

  --info-bg: hsl(var(--hue), var(--sat), 80%);
  --info-text: hsl(var(--hue), var(--sat), 20%);

  --error-bg: hsl(1, 60%, 90%);
  --error-text: hsl(1, 60%, 30%);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  @apply text-primary-500 hover:text-primary-600 font-medium;
}

.slide {
  transition-property: padding-left;
  transition-duration: 400ms;
  transition-timing-function: ease-in-out;
}

.left-shift {
  @apply pl-8;
}
