@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .surface-bg {
    @apply bg-gray-100 dark:bg-gray-800;
  }

  .surface {
    @apply bg-white dark:bg-gray-800;
  }

  .surface-secondary {
    @apply bg-gray-100 dark:bg-gray-700;
  }

  .surface-impression {
    @apply bg-gray-100 dark:bg-gray-900;
  }

  .surface-faint {
    @apply bg-gray-50 dark:bg-transparent;
  }

  .ui-copy {
    @apply text-gray-900 dark:text-white;
  }

  .ui-copy-dashboard-header {
    @apply ui-copy;
    font-size: 16px;
  }

  .ui-copy-muted {
    @apply text-gray-600 dark:text-gray-200;
  }

  .ui-copy-primary {
    @apply text-primary-700 dark:text-primary-200;
  }

  .ui-copy-strong {
    @apply text-gray-900 dark:text-white font-semibold;
  }

  .ui-copy-icon {
    @apply ui-copy-muted;
  }

  .ui-copy-number {
    font-feature-settings: "case" 0, "cpsp" 0, "dlig" 0, "frac" 0, "dnom" 0,
      "numr" 0, "salt" 0, "subs" 0, "sups" 0, "tnum", "zero" 0, "ss01", "ss02" 0,
      "ss03" 0, "ss04" 0, "cv01" 0, "cv02" 0, "cv03" 0, "cv04" 0, "cv05" 0,
      "cv06" 0, "cv07" 0, "cv08" 0, "cv09" 0, "cv10" 0, "cv11" 0, "calt", "ccmp",
      "kern";
  }

  .ui-copy-icon-inactive {
    @apply text-gray-500 dark:text-gray-500;
  }

  .ui-copy-inactive {
    @apply text-gray-500 dark:text-gray-400;
  }

  .ui-copy-disabled {
    @apply ui-copy-inactive;
  }

  /** a non-acccessible faint version of ui-copy-disabled used in dimension tables */
  .ui-copy-disabled-faint {
    @apply text-gray-400 dark:text-gray-400;
  }

  .ui-copy-code {
    font-family: var(--monospace);
    font-size: 11px;
    @apply text-gray-600;
  }

  .ui-divider {
    @apply border-gray-300 dark:border-gray-600;
  }

  .ui-divider-faint {
    @apply border-gray-200 dark:border-gray-600;
  }

  .ui-divider-strong {
    @apply border-gray-400 dark:border-gray-500;
  }

  .ui-measure-bar-included {
    @apply bg-primary-100 dark:bg-primary-700;
  }

  .ui-measure-bar-included-selected {
    @apply bg-primary-200 dark:bg-primary-600;
  }

  .ui-measure-bar-excluded {
    @apply bg-gray-100 dark:bg-gray-700;
  }

  .ui-editor-text-error {
    color: var(--ui-editor-error-foreground);
  }

  .ui-editor-bg-error {
    @apply bg-red-50;
  }

  .ui-editor-border-error {
    border-color: var(--ui-editor-error-foreground);
  }
}

@layer base {
  :root {
    --ui-editor-error-foreground: hsl(0, 75%, 45%);

    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
  
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
  
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
  
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
  
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    /* 
    FIXME: 
    We need to overhaul these ShadCN vars to use the new
    palette as the source of truth, and remove these manual
    translations/approximations in HSL, but this is fine for
     the initial roll out
     */
    
    /* 
    `246, 57%, 20%` approximates primary color 
    from our new palette vs previous color:
    `--primary: 222.2 47.4% 11.2%
    */
    --primary: 246 57% 20%;
    /* 
    `227, 100%, 96%` approximates primary color 
    from our new palette vs previous color:
    `--primary-foreground: 210 40% 98%;`
    */
    --primary-foreground: 227 100% 96%;
  
    /* 
    `202, 100%, 94%` approximates secondary color 
    from our new palette vs previous color:
    `--secondary: 210 40% 96.1%;`
    */
    --secondary: 202 100% 94%;
    /* 
    `202, 90%, 16%` approximates secondary color 
    from our new palette vs previous color:
    `--secondary-foreground: 222.2 47.4% 11.2%;`
    Note that this one in particular is a poor approximation,
    because the darkest color in the new palette is much
    lighter than the previous --secondary-foreground color.
    */
    --secondary-foreground: 202 90% 16%;
  
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
  
    --destructive: 0 72.2% 50.6%;
    --destructive-foreground: 210 40% 98%;
  
    --ring: 222.2 84% 4.9%;
  
    --radius: 0.5rem;
  }

  h1,
  h2,
  h3,
  h4 {
    @apply font-bold;
  }
}

html {
  @apply ui-copy;
}

a,
button {
  @apply ui-copy;
}

body {
  background-color: white;
  font-family: "Inter";
  font-size: 12px;

  /* Use this for a few keyboard characters in tooltips, etc. */
  --system: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

  --monospace: 'Source Code Variable';
  margin: 0;
  padding: 0;
  --header-height: 52px;
  --right-drawer-width: 400px;

  --left-sidebar-width: 400px;

  --hue: 217;
  --sat: 20%;
  --lgt: 95%;

  --info-bg: hsl(var(--hue), var(--sat), 80%);
  --info-text: hsl(var(--hue), var(--sat), 20%);

  --error-bg: hsl(1, 60%, 90%);
  --error-text: hsl(1, 60%, 30%);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  @apply text-primary-500 hover:text-primary-600 font-medium;
}
