@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .surface-bg {
    @apply bg-gray-100 dark:bg-gray-800;
  }

  .surface {
    @apply bg-white dark:bg-gray-800;
  }

  .surface-secondary {
    @apply bg-gray-100 dark:bg-gray-700;
  }

  .surface-impression {
    @apply bg-gray-100 dark:bg-gray-900;
  }

  .surface-faint {
    @apply bg-gray-50 dark:bg-transparent;
  }

  .ui-copy {
    @apply text-gray-900 dark:text-white;
  }

  .ui-copy-dashboard-header {
    @apply ui-copy;
    font-size: 16px;
  }

  .ui-copy-muted {
    @apply text-gray-600 dark:text-gray-200;
  }

  .ui-copy-strong {
    @apply text-gray-900 dark:text-white font-semibold;
  }

  .ui-copy-icon {
    @apply ui-copy-muted;
  }

  .ui-copy-number {
    font-feature-settings: "case" 0, "cpsp" 0, "dlig" 0, "frac" 0, "dnom" 0,
      "numr" 0, "salt" 0, "subs" 0, "sups" 0, "tnum", "zero" 0, "ss01", "ss02" 0,
      "ss03" 0, "ss04" 0, "cv01" 0, "cv02" 0, "cv03" 0, "cv04" 0, "cv05" 0,
      "cv06" 0, "cv07" 0, "cv08" 0, "cv09" 0, "cv10" 0, "cv11" 0, "calt", "ccmp",
      "kern";
  }

  .ui-copy-icon-inactive {
    @apply text-gray-500 dark:text-gray-500;
  }

  .ui-copy-inactive {
    @apply text-gray-500 dark:text-gray-400;
  }

  .ui-copy-disabled {
    @apply ui-copy-inactive;
  }

  /** a non-acccessible faint version of ui-copy-disabled used in dimension tables */
  .ui-copy-disabled-faint {
    @apply text-gray-400 dark:text-gray-400;
  }

  .ui-copy-code {
    font-family: var(--monospace);
    font-size: 11px;
    @apply text-gray-600;
  }

  .ui-divider {
    @apply border-gray-300 dark:border-gray-600;
  }

  .ui-divider-faint {
    @apply border-gray-200 dark:border-gray-600;
  }

  .ui-divider-strong {
    @apply border-gray-400 dark:border-gray-500;
  }

  .ui-measure-bar-included {
    @apply bg-primary-100 dark:bg-primary-700;
  }

  .ui-measure-bar-included-selected {
    @apply bg-primary-200 dark:bg-primary-600;
  }

  .ui-measure-bar-excluded {
    @apply bg-gray-100 dark:bg-gray-700;
  }

  .ui-editor-text-error {
    color: var(--ui-editor-error-foreground);
  }

  .ui-editor-bg-error {
    @apply bg-red-50;
  }

  .ui-editor-border-error {
    border-color: var(--ui-editor-error-foreground);
  }
}

@layer base {
  :root {
    --ui-editor-error-foreground: hsl(0, 75%, 45%);

    /* Defaults for the theme. This will be overridden based on the selected theme.
       Should match the color palette blue from tailwind */
    /* Primary colors */
    /* --color-primary-50: #ecf0ff;
    --color-primary-100: #dde4ff;
    --color-primary-200: #c2cdff;
    --color-primary-300: #9cabff;
    --color-primary-400: #757eff;
    --color-primary-500: #5655ff;
    --color-primary-600: #4735f5;
    --color-primary-700: #3542c7;
    --color-primary-800: #3125ae;
    --color-primary-900: #2c2689;
    --color-primary-950: #1c1650; */

    /*  backup primary colors for testing (green spectrum) */
    --color-primary-50: #ecfff1;
    --color-primary-100: #ddffe3;
    --color-primary-200: #c2ffc5;
    --color-primary-300: #9cffa4;
    --color-primary-400: #75ff75;
    --color-primary-500: #55ff69;
    --color-primary-600: #35f535;
    --color-primary-700: #35c73f;
    --color-primary-800: #25ae2e;
    --color-primary-900: #268933;
    --color-primary-950: #195016;


    --color-primary-graph-line-hue: 224;
    --color-primary-graph-area-hue: 217;

    --color-primary-graph-scrubbing-line-hue: 217;
    --color-primary-graph-scrubbing-area-hue: 225;
    --color-primary-scrub-box-hue: 213;
    --color-primary-scrub-area-0-hue: 221;
    --color-primary-scrub-area-1-hue: 221;
    --color-primary-scrub-area-2-hue: 221;

    /* Secondary Colors */
    /* --color-secondary-50: #effaff;
    --color-secondary-100: #def3ff;
    --color-secondary-200: #b6e9ff;
    --color-secondary-300: #75daff;
    --color-secondary-400: #2cc9ff;
    --color-secondary-500: #00b8ff;
    --color-secondary-600: #008fd4;
    --color-secondary-700: #0071ab;
    --color-secondary-800: #00608d;
    --color-secondary-900: #065074;
    --color-secondary-950: #04324d; */

    /* back up secondary colors for testing (red spectrum) */
    --color-secondary-50: #ffecec;
    --color-secondary-100: #ffdcdc;
    --color-secondary-200: #ffc2c2;
    --color-secondary-300: #ff9c9c;
    --color-secondary-400: #ff7575;
    --color-secondary-500: #ff5555;
    --color-secondary-600: #f53535;
    --color-secondary-700: #c73535;
    --color-secondary-800: #ae2525;
    --color-secondary-900: #892626;
    --color-secondary-950: #501616;


    --color-secondary-gradient-max-hue: 300;
    --color-secondary-gradient-min-hue: 1;

    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
  
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
  
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
  
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
  
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
  
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
  
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
  
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
  
    --destructive: 0 72.2% 50.6%;
    --destructive-foreground: 210 40% 98%;
  
    --ring: 222.2 84% 4.9%;
  
    --radius: 0.5rem;
  }

  h1,
  h2,
  h3,
  h4 {
    @apply font-bold;
  }
}

html {
  @apply ui-copy;
}

a,
button {
  @apply ui-copy;
}

body {
  background-color: white;
  font-family: "Inter";
  font-size: 12px;

  /* Use this for a few keyboard characters in tooltips, etc. */
  --system: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

  --monospace: 'Source Code Variable';
  margin: 0;
  padding: 0;
  --header-height: 52px;
  --right-drawer-width: 400px;

  --left-sidebar-width: 400px;

  --hue: 217;
  --sat: 20%;
  --lgt: 95%;

  --info-bg: hsl(var(--hue), var(--sat), 80%);
  --info-text: hsl(var(--hue), var(--sat), 20%);

  --error-bg: hsl(1, 60%, 90%);
  --error-text: hsl(1, 60%, 30%);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  @apply text-primary-500 hover:text-primary-600 font-medium;
}
