.vega-embed {
  width: 100%;
  height: 100%;
}

#vg-tooltip-element,
#rill-vg-tooltip {
  @apply absolute border border-slate-300 p-3 rounded-lg pointer-events-none;
  background: rgba(255, 255, 255, 0.9);
  font-family: "Inter";

  & h2 {
    @apply text-slate-500 text-sm font-semibold mb-2;
  }

  & table {
    @apply border-spacing-0;
  }

  & table tr td {
    @apply truncate py-0.5;
  }

  & table tr td.key {
    @apply text-left px-1 font-normal truncate text-slate-600;
    max-width: 250px;
  }

  & table tr td.value {
    @apply text-left truncate font-semibold;
    max-width: 250px;
  }
}
