.vega-embed {
  width: 100%;
  height: 100%;
}

#vg-tooltip-element,
#rill-vg-tooltip {
  @apply absolute p-3 rounded-lg pointer-events-none;
  font-feature-settings:
    "case" 0,
    "cpsp" 0,
    "dlig" 0,
    "frac" 0,
    "dnom" 0,
    "numr" 0,
    "salt" 0,
    "subs" 0,
    "sups" 0,
    "tnum",
    "zero" 0,
    "ss01",
    "ss02" 0,
    "ss03" 0,
    "ss04" 0,
    "cv01" 0,
    "cv02" 0,
    "cv03" 0,
    "cv04" 0,
    "cv05" 0,
    "cv06" 0,
    "cv07" 0,
    "cv08" 0,
    "cv09" 0,
    "cv10" 0,
    "cv11" 0,
    "calt",
    "ccmp",
    "kern";
  border: 0 !important;
  background: var(--tooltip) !important;
  color: var(--fg-inverse) !important;

  font-family: "Inter";
  border-radius: 5px;

  & h2 {
    @apply text-sm font-semibold mb-2;
    color: color-mix(
      in oklab,
      var(--fg-inverse) 90%,
      transparent 30%
    ) !important;
  }

  & table {
    @apply border-spacing-0;
    border-collapse: separate;
    border-spacing: 0;
    display: table;
  }

  & table tr td {
    @apply py-0.5;
    white-space: nowrap;
    padding-left: 0;
    padding-right: 12px;
  }

  & table tr td:first-child {
    padding-left: 0;
  }

  & table tr td:last-child {
    padding-right: 0;
  }

  & table tr td.key {
    @apply text-left font-normal text-xs;
    padding-right: 12px;
    color: color-mix(
      in oklab,
      var(--fg-inverse) 70%,
      transparent 30%
    ) !important;
  }

  & table tr td.value {
    @apply text-right font-semibold text-xs;
    display: table-cell !important;
    max-width: none !important;
    max-height: none !important;
  }

  & table tr td.previous-value {
    opacity: 0.6;
  }

  & table tr td.empty-cell {
    visibility: hidden;
  }

  & table tr .key-color {
    @apply w-3 h-3 min-w-3 min-h-3 rounded-full;
    display: inline-block;
    vertical-align: middle;
    margin-right: 4px;
  }
}

#vg-tooltip-element table tr:first-child td {
  font-size: 14px;
}
