.vega-embed {
  width: 100%;
  height: 100%;
}

#vg-tooltip-element,
#rill-vg-tooltip {
  @apply absolute border border-slate-300 p-3 rounded-lg pointer-events-none;
  @apply ui-copy-number;
  background: rgba(255, 255, 255, 0.9);
  font-family: "Inter";
  border-radius: 5px;

  & h2 {
    @apply text-slate-500 text-sm font-semibold mb-2;
  }

  & table {
    @apply border-spacing-0;
  }

  & table tr td {
    @apply truncate py-0.5;
  }

  & table tr td.key {
    @apply text-left px-1 font-normal truncate text-slate-600 text-xs;
    max-width: 250px;
  }

  & table tr td.value {
    @apply text-left truncate font-semibold text-xs;
    max-width: 250px;
  }
}

#vg-tooltip-element table tr:first-child td:first-child {
  display: none;
}

#vg-tooltip-element table tr:first-child td {
  font-size: 14px;
  margin-left: 2px;
  margin-bottom: 4px;
}
