@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1, h2, h3, h4 {
    @apply font-bold;
  }
}


::selection {
    background-color: black;
    color: white;
}

body {
    /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    font-family: "MD IO 0.4";
    margin: 0;
    padding: 0;
    --header-height: 2.5rem;
    --right-drawer-width: 400px;


    --hue: 217;
    --sat: 20%;
    --lgt: 95%;

    --info-bg: hsl(var(--hue), var(--sat), 80%);
    --info-text: hsl(var(--hue), var(--sat), 20%);

    --error-bg: hsl(1, 60%, 90%);
    --error-text: hsl(1, 60%, 30%);

    overscroll-behavior: none;
}

.body-height {
    height: calc(100vh - var(--header-height));
}

button {
    font-family: "MD IO 0.4";
}

.Í¼1 .cm-scroller {
    font-family: "MD IO 0.4";
    font-size: 13px;
}

.stack-list > * + * {
    margin-top: var(--gap, 1rem);

}

.stack + .stack {
    margin-top: var(--gap, 1rem);
  }

.button {
    padding:0;
    margin: 0;
    padding: .5rem 1rem;
    font-weight: bold;
    background-color: black;
    color: white;
    border: none;
}

.small-action-button, .inspector-button {
    padding:0;
    margin:0;
    background: transparent;
    border: 1px solid transparent;
    font-size:.75rem;
    width: 1.5rem;
    height:1.5rem;
    color: hsl(217,5%, 60%);
    display: inline-grid;
    place-items: center;
}

.small-action-button:hover {
    background-color: hsl(217,15%, 95%);
    cursor: pointer;
    color: black;
}


.small-action-button.selected {
    background-color: hsl(217,15%, 85%);
    color: black;
}

.inspector-button {
    color: black;
    width: 1.75rem;
    height:1.75rem;
}

.inspector-button:hover {
    border: 1px solid hsl(217,15%, 90%);
    background-color: transparent;
}

.inspector-button.selected {
    background-color: hsl(217,15%, 90%);
}

.table-container {
    width: max-content;
}

.table-container table {
    font-size: 13px;
    text-align: right;
    hyphens: none;
    word-break: keep-all;
    min-width: 100%;
}

.table-container td, .table-container th {
    padding: 0px .5rem;
}

.table-container td {
    vertical-align: top;
    white-space: nowrap;
}

.table-container th {
    font-weight: 500;
    font-style: italic;
}
.hljs-punctuation {
    color: #bbb;
}

.hljs-attr {
    font-weight: 500;
}

.hljs-string, .hljs-number {
    color:  hsl(217, 1%, 50%);
}

.gutter-indicator {
    width: 18px;
    display: grid;
    place-items: center;
    height: 18px;
}

.pl-accordion {
    padding-left: calc(14px + .25rem);
}

.draggable:active {
    cursor: dragging;
}