@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  h2,
  h3,
  h4 {
    @apply font-bold;
  }
}

html {
  @apply bg-gray-400;
}

body {
  font-family: "MD IO";
  font-size: 12px;

  /* Use this for a few keyboard characters in tooltips, etc. */
  --system: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  margin: 0;
  padding: 0;
  --header-height: 3.5rem;
  --right-drawer-width: 400px;

  --left-sidebar-width: 400px;

  --hue: 217;
  --sat: 20%;
  --lgt: 95%;

  --info-bg: hsl(var(--hue), var(--sat), 80%);
  --info-text: hsl(var(--hue), var(--sat), 20%);

  --error-bg: hsl(1, 60%, 90%);
  --error-text: hsl(1, 60%, 30%);

  overscroll-behavior: none;
}

button {
  font-family: "MD IO";
}

.stack-list > * + * {
  margin-top: var(--gap, 1rem);
}

.stack + .stack {
  margin-top: var(--gap, 1rem);
}

.button {
  padding: 0;
  margin: 0;
  padding: 0.5rem 1rem;
  font-weight: bold;
  background-color: black;
  color: white;
  border: none;
}

.small-action-button,
.inspector-button {
  padding: 0;
  margin: 0;
  background: transparent;
  border: 1px solid transparent;
  font-size: 0.75rem;
  width: 1.5rem;
  height: 1.5rem;
  color: hsl(217, 5%, 60%);
  display: inline-grid;
  place-items: center;
}

.small-action-button:hover {
  background-color: hsl(217, 15%, 95%);
  cursor: pointer;
  color: black;
}

.small-action-button.selected {
  background-color: hsl(217, 15%, 85%);
  color: black;
}

.hljs-punctuation {
  color: #bbb;
}

.hljs-attr {
  font-weight: 500;
}

.hljs-string,
.hljs-number {
  color: hsl(217, 1%, 50%);
}

.gutter-indicator {
  width: 18px;
  display: grid;
  place-items: center;
  height: 18px;
}

.draggable:active {
  cursor: dragging;
}

.ͼ1 .cm-scroller {
  font-family: "MD IO";
  font-size: 13px;
}

.ͼ2 .cm-gutters {
  background-color: transparent;
  border-right: none;
}
