@font-face {
    font-family: 'MD IO';
    src: url('/fonts/md-io/MDIO0.4-Regular.woff2') format('woff2'),
         url('/fonts/md-io/MDIO0.4-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'MD IO';
    src: url('/fonts/md-io/MDIO0.4-Italic.woff2') format('woff2'),
         url('/fonts/md-io/MDIO0.4-Italic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'MD IO';
    src: url('/fonts/md-io/MDIO0.4-Medium.woff2') format('woff2'),
         url('/fonts/md-io/MDIO0.4-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'MD IO';
    src: url('/fonts/md-io/MDIO0.4-Semibold.woff2') format('woff2'),
         url('/fonts/md-io/MDIO0.4-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'MD IO';
    src: url('/fonts/md-io/MDIO0.4-Bold.woff2') format('woff2'),
         url('/fonts/md-io/MDIO0.4-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'MD IO';
    src: url('/fonts/md-io/MDIO0.4-Black.woff2') format('woff2'),
         url('/fonts/md-io/MDIO0.4-Black.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'MD IO';
    src: url('/fonts/md-io/MDIO0.4-Ultra.woff2') format('woff2'),
         url('/fonts/md-io/MDIO0.4-Ultra.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}