@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: "Inter";
  font-weight: 400;
  /* Use this for a few keyboard characters in tooltips, etc. */
  --system: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  @apply text-blue-500;
}

